body{
    background-color: #6a7689;
}
table {
    border: 1px solid white;
    border-collapse: collapse;
    background-color: #27426d;
    width: 600px;
    height: 400px;

}
td{
    border: 2px solid white;
    height: 30px;
}