section{
    height: 300px;
    width: 40%;
    float: left;
}
#left{
    background-color: cornflowerblue;
}
#right{
    background-color: yellow;
    height: 200px;
    width: 60%;
}
footer{
    background-color: darkred;
    clear:both;
}